{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Создание заявки
{% endblock %}

{% block content %}
<h1 class="page-title">Создание заявки</h1>
<form class="request-form">
    <select class="time-select">
        <option value="">Выберите время</option>
        <option value="morning">Утро</option>
        <option value="day">День</option>
        <option value="evening">Вечер</option>
    </select>
</form>
<ul class="flow-list">
    {% for station in data.stations %}
        <li class="flow-item">
            <div class="flow-order" >{{ station.order }}</div>
            <img class="flow-img" src="{{ station.pic }}" alt="station image">
            <div class="flow-info">
                <div class="flow-line">
                    <h3 class="flow-title">{{ station.title }}</h3>
                    <div class="line-circle" style="background-color: {{ station.line_color }}">
                        {{ station.line_number }}
                    </div>
                    <span class="line-name">{{ station.line_name }}</span>
                    <span class="flow-visits">{{ station.average_visits }} тыс чел/сут</span>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}